/* AddEnquiry.css */

/* .add-enquiry-form-container {
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;

  }
   */
  .add-enquiry-form-container h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .add-enquiry-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .add-enquiry-form-labels {
    display: flex;
    flex-direction: row;
    text-align: left;
    gap: 20px;
  }

  
   
  .add-enquiry-form label {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 8px;
    font-weight: bold;
    flex: 1;
  }
  
  .add-enquiry-form input,
  .add-enquiry-form select,
  .add-enquiry-form textarea {
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }

  input[type='number'],input[type='email'] {
    margin-top: 6px;
    padding: 12px 10px;
  }
  
  .add-enquiry-form input:focus,
  .add-enquiry-form select:focus,
  .add-enquiry-form textarea:focus {
    border: 1px solid #007bff;
    outline: none;
  }
  
  .add-enquiry-form input:focus {
    outline: none;
    border-color: #28a745;
  }

  .add-enquiry-form button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  


  .add-enquiry-form button:hover {
    background-color: #0056b3;
  }
  
  .add-enquiry-form button:active {
    background-color: #003f7d;
  }
  

  @media (max-width: 870px) {
    .add-enquiry-form-container {
      max-width: 80%;
      margin: 0 auto;
    }
    .add-enquiry-form-labels {
      display: block;
      text-align: left;
      gap: 20px;
    }
    .add-enquiry-form {
      max-width: 100%;
      /* margin: 20px; */
      margin-left: 0px;
    }
  
  }