.add-patient-form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-patient-form-labels,
.form-row {
  display: flex;
  flex-direction: row;
  text-align: left;
  flex-wrap: wrap;
  gap: 20px;
}

.add-patient-form label {
  font-size: 1.1rem;
  margin-bottom: 8px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  flex: 1;
  white-space: nowrap;
}

.add-patient-form-labels input,
.add-patient-form-labels select {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
  box-sizing: border-box;
  min-width: 190px;

}

.add-patient-form input:focus,
.add-patient-form select:focus {
  outline: none;
  border-color: #28a745;
}

.add-patient-form button {
  width: 100%;
  padding: 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
}

.add-patient-form button:hover {
  background-color: #218838;
}

h1 {
  text-align: center;
  color: #343a40;
  margin-bottom: 20px;
}

@media (max-width: 870px) {
  .add-patient-form {
    max-width: 80%;
    margin: 0 auto;
  }
  .add-patient-form-labels,
  .form-row {
    display: block;
    text-align: left;
    gap: 20px;
  }

}