.side-nav-content {
    display: flex;
    flex-direction: column;
    width: 230px;
    background-color: black;
    height: calc(100vh - 60px);
    transition: width 0.3s ease;
}

.nav-list {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.nav-list-item {
    padding: 10px;
    color: white;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-list-item:hover {
    background-color: blue;
}

.side-nav-content:not(.nav-list-open) {
    width: 60px;
}

.side-nav-content:not(.nav-list-open) .nav-list .nav-list-item span {
    display: none;
}

.side-nav-content.nav-list-open .nav-list .nav-list-item span {
    display: inline-block;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .side-nav-content {
        width: 60px;
    }

    .side-nav-content.nav-list-open {
        width: 200px;
    }

    .nav-list-item {
        padding: 8px;
        font-size: 0.9rem;
    }

    .nav-list-item i {
        font-size: 1.2rem;
    }
}

@media (max-width: 576px) {
    .side-nav-content {
        width: 50px;
    }

    .side-nav-content.nav-list-open {
        width: 180px;
    }

    .nav-list-item {
        padding: 6px;
        font-size: 0.8rem;
    }

    .nav-list-item i {
        font-size: 1rem;
    }
}
