/* Additional custom styles for the table */
.patients-table {
  overflow-x: auto;
}

/* Adjusting padding and font sizes for responsiveness */

/* For screens with a max width of 768px (tablets, smaller screens) */
@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  .patients-table table {
    font-size: 14px;
  }

  .patients-table th,
  .patients-table td {
    padding: 6px;
  }

  .patients-table td p {
    font-size: 12px;
  }

  .patients-table {
    overflow-x: scroll;
  }
}

/* For screens with a max width of 480px (mobile devices) */
@media (max-width: 480px) {
  .container {
    padding: 10px;
  }

  .patients-table {
    overflow-x: scroll;
  }

  .patients-table table {
    font-size: 12px;
  }

  .patients-table th,
  .patients-table td {
    padding: 4px;
  }

  .patients-table td p {
    font-size: 10px;
  }
}

/* For very small screens (max-width: 320px) */
@media (max-width: 320px) {
  .patients-table table {
    font-size: 10px;
  }

  .patients-table th,
  .patients-table td {
    padding: 4px;
  }

  .patients-table td p {
    font-size: 8px;
  }
}
