/* Additional custom styles for the table */
/* Modal Background */
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Modal Content */
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  max-width: 500px;
}

/* Close button */
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.modal-header, .modal-body {
  margin-bottom: 10px;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  max-width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

button {
  margin-top: 10px;
}


.patients-table {
  overflow-x: auto;
}
/* .all-patients-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
/* Adjusting padding and font sizes for responsiveness */
.patients-table {
display: flex;
  flex-direction: column;
  justify-content: center;
}

th, td {
  border: 1px solid grey;
}

/* For screens with a max width of 768px (tablets, smaller screens) */
@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  .patients-table table {
    font-size: 14px;
  }

  .patients-table th,
  .patients-table td {
    padding: 6px;
  }

  .patients-table td p {
    font-size: 12px;
  }

  .patients-table {
    overflow-x: scroll;
  }
}

/* For screens with a max width of 480px (mobile devices) */
@media (max-width: 480px) {
  .container {
    padding: 10px;
  }

  .patients-table {
    overflow-x: scroll;
  }

  .patients-table table {
    font-size: 12px;
  }

  .patients-table th,
  .patients-table td {
    padding: 4px;
  }

  .patients-table td p {
    font-size: 10px;
  }
}

/* For very small screens (max-width: 320px) */
@media (max-width: 320px) {
  .patients-table table {
    font-size: 10px;
  }

  .patients-table th,
  .patients-table td {
    padding: 4px;
  }

  .patients-table td p {
    font-size: 8px;
  }
}
