.dropdown-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
    border-radius: 4px;
    width: 200px;
}

.dropdown-menu li {
    padding: 10px;
    cursor: pointer;
}

.dropdown-menu li a {
    text-decoration: none;
    color: black;
    display: block;
}

.dropdown-menu li:hover {
    background-color: #f8f9fa;
}

.main-view {
    background-color: #f9f9f9;
    height: calc(100vh - 60px);
    width: calc(100vw - 0px);
    /* border: 10px solid black; */
}

.side-navbar {
    width: 230px;
    position: absolute;
    z-index: 10;
}

.main-content {
    background-color: #f9f9f9;
    height: calc(100vh - 60px);
    width: calc(100vw - 0px);
    
}

.main-content-routes {
    position: relative;
    left: 60px;
    height: calc(100vh - 60px);
    width: calc(100vw - 60px);
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
}
.main-content-routes::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
}

@media (max-width: 2560px) {
    .main-content-routes {
        position: relative;
        left: 230px;
        height: calc(100vh - 60px);
        width: calc(100vw - 230px);
        overflow-y: scroll;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;
    }
} 

@media (max-width: 870px) {
    .main-content-routes {
        position: relative;
        /* left: 10%; */
        height: calc(100vh - 60px);
        width: calc(100vw - 60px);
        overflow-y: scroll;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;
    }
}


