
.side-nav-content {
    display: flex;
    flex-direction: column;
    width: 230px;
    position: absolute;
    z-index: 10;
    background-color: black;
    height: calc(100vh - 60px);
    transition: width 0.3s ease;
}

.nav-list {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;

}

.nav-list-item {
    /* padding: 10px; */
    width: 100%;
    color: white;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    /* padding: 20px; */
    cursor: pointer;
    background-color: white;
    transition: background-color 0.3s ease;
}

.nav-list-item .sidebar-link {
    background-color: black;
    padding: 10px;
}
.nav-list-item a:hover {
    background-color: white;

}

/* .nav-list-item:hover {
    color: white;
    background-color: white;
} */
.sidebar-link {
    display: flex;
    align-items: center;
    color: #fbf9f9;
    text-decoration: none;
    width: 100%;
}

.sidebar-link i {
    margin-right: 10px;
}

.sidebar-text {
    display: inline-block;
    font-weight: 500;
}

.subitem-container {
    padding-left: 10px;
    border:4px solid #000000 ;
    background-color: white;
    width: 100%;
    /* transition: height 1.2s linear; */
}
.subitem-container:hover {
    background-color: white;
}

.sidebar-link-subitem {
    display: inline-block;
    width: 100%;
    background-color: white;
}
.nav-list-subitem {
    background-color: white;
}
.nav-list-subitem .sidebar-link-subitem {
    padding: 10px;
    color: #000000;
    text-decoration: none;
}


/* Media query for smaller screens */
@media (max-width: 992px) {
    .side-nav-content {
        width: 230px;
        position: fixed;
        top: 60px;
        left: -1px;
        height: 100vh;
        z-index: 10;
        transition: transform 0.3s ease, width 0.92s ease;
    }
    .side-nav-content:not(.nav-list-open) {
        width: 0px;
        /* display: none; */
    }
    
    .side-nav-content:not(.nav-list-open) .nav-list .nav-list-item span {
        display: none;
    }
   
    
    .side-nav-content.nav-list-open .nav-list .nav-list-item span {
        display: inline-block;
    }
}

@media (max-width: 768px) {
    .side-nav-content {
        width: 60px; /* Collapsed state by default on smaller screens */
    }

    .side-nav-content.nav-list-open {
        width: 230px; /* Expand to full width on toggle */
    }

    .nav-list-item {
        padding: 8px; /* Adjust padding for smaller screens */
    }

    .nav-list-item:hover {
        background-color: darkblue; /* Slightly different hover effect */
    }
}



/* Tooltip functionality with title attribute handled by browser */

.side-nav-content.nav-list-open .nav-list-item:hover .sidebar-link {
    background-color: #000000; /* Highlight on hover */
}
