
.side-nav-content {
    display: flex;
    flex-direction: column;
    width: 230px;
    position: absolute;
    z-index: 10;
    /* background-color: #664c72; */
    background-color: #381a46;
    height: calc(100vh - 60px);
    transition: width 0.3s ease;
    padding-bottom: 30px;
}

.dashboard-logo-img-container {
    justify-content: center;
    width: 100%;
    min-width: 230px;
}
.dashboard-logo-img {
    position: relative;
    overflow: hidden;
    border-radius: 100%;
}

.nav-list {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    -ms-overflow-style: none;
}
.nav-list::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
}
.nav-list-item {
    /* padding: 10px; */
    width: 100%;
    color: white;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    /* padding: 20px; */
    cursor: pointer;
    /* background-color: #664c72; */
    background-color: #381a46   ;
    transition: background-color 0.3s ease;
}

.nav-list-item .sidebar-link {
    /* background-color: #664c72; */
    background-color: #381a46;
    padding: 10px;
}
.nav-list-item a:hover {
    background-color: #664c72;

}

/* .nav-list-item:hover {
    color: white;
    background-color: white;
} */
.sidebar-link {
    display: flex;
    align-items: center;
    color: #fbf9f9;
    text-decoration: none;
    width: 100%;
}

.sidebar-link i {
    margin-right: 10px;
}

.sidebar-text {
    display: inline-block;
    font-weight: 500;
}

.subitem-container {
    padding-left: 0px;
    /* border-left: 4px solid #000000;
    border-right: 4px solid #000000; */
    /* background-color: #381a46; */
    background-color: #1d0329;

    width: 100%;
    /* border-radius: 10px; */
    transition: max-height 0.4s ease-in-out,
}
.subitem-container:hover {
    background-color: #664c72;
}

.sidebar-link-subitem {
    display: inline-block;
    width: 100%;
    background-color: #000000;

}


.nav-list-subitem .sidebar-link-subitem {
    padding: 10px;
    color: #fff;
    text-decoration: none;
}
.subitem-container .nav-list-subitem .sidebar-link-subitem:hover {
    background-color: #1d1c1c !important;
}

/* Tooltip functionality with title attribute handled by browser */

.side-nav-content .nav-list-item .sidebar-link:hover {
    background-color: #674079; 
}



/* Media query for smaller screens */
@media (max-width: 992px) {
    .side-nav-content {
        width: 230px;
        position: fixed;
        top: 60px;
        left: -1px;
        height: 100vh;
        z-index: 10;
        transition: transform 0.3s ease, width 0.92s ease;
        overflow-x: hidden;
    }
    .side-nav-content:not(.nav-list-open) {
        width: 0px;
        /* display: none; */
    }
    
    .side-nav-content:not(.nav-list-open) .nav-list .nav-list-item span {
        /* display: none; */
    }
   
    
    .side-nav-content.nav-list-open .nav-list .nav-list-item span {
        display: inline-block;
    }
}

@media (max-width: 768px) {
    /* .side-nav-content {
        width: 60px; 
    }

    .side-nav-content.nav-list-open {
        width: 230px; 
    } */

    /* .nav-list-item {
        padding: 8px;
    }

    .nav-list-item:hover {
        background-color: darkblue; 
    } */
}



